%h1 Listing servers

%table
  %tr
    %th Uuid
    %th Addr
    %th Port
    %th Status
    %th Intend
    %th
    %th
    %th

  - @servers.each do |server|
    %tr
      %td= server.uuid
      %td= server.addr
      %td= server.port
      %td= server.status
      %td= server.intend
      %td= link_to 'Show', server
      %td= link_to 'Edit', edit_server_path(server)
      %td= link_to 'Destroy', server, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Server', new_server_path
