%h1 Listing servers

%table
  %tr
    %th Uuid
    %th Addr
    %th Port
    %th Status
    %th

  - @servers.each do |server|
    %tr
      %td= server['uuid']
      %td= server['addr']
      %td= server['port']
      %td= server['status']

%br

%table
  %tr
    %th User
    %th Session

  - @searches.each do |search|
    %tr
      %td= search['user_id']
      %td= search['session']

%br

