%h1 Listing games

%table
  %tr
    %th Uuid
    %th Server uuid
    %th Server addr
    %th Server port
    %th Started at
    %th Over at
    %th
    %th
    %th

  - @games.each do |game|
    %tr
      %td= game.uuid
      %td= game.server_uuid
      %td= game.server_addr
      %td= game.server_port
      %td= game.started_at
      %td= game.over_at
      %td= link_to 'Show', game
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
