
- content_for(:title, 'MMO Starter Kit Demo Web Application')
- content_for(:head) do
  = stylesheet_link_tag 'game/unity_player', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'game/unity_player', 'data-turbolinks-track' => true

%p#notice= notice

%h1 MMO Starter Kit Demo
= unity_player

= link_to 'Back', games_path
